# Master Fabrinetes Configuration
# Individual container configs are located in their respective folders:
# - containers/fabrinetes-dev/config/fabrinetes.config
# - containers/fabrinetes-dev-testing/config/fabrinetes.config  
# - containers/fabrinetes-fpga-full/config/fabrinetes.config

[container.fabrinetes-dev]
TAG             = "latest"
mounts          =["$HOME/AMD/Vivado/2021.2:/opt/vivado","$HOME/repo:/root/repos"]
init_env         ="Fabrinetes_init_env.sh:/etc/profile.d/init_env.sh"

[container.fabrinetes-dev-testing]
TAG             = "latest"
mounts          =["$HOME/repo:/root/repos","/tmp:/tmp"]
init_env         ="Fabrinetes_init_env.sh:/etc/profile.d/init_env.sh"

[container.fabrinetes-fpga-full]
TAG                 = "firefox_cocotb_verilator_working"
X11_path             = "/mnt/wslg/.X11-unix"
mounts              = [
    "vscode/.vscode-server/:$HOME/.vscode-server",      #<======critical mount!
    "Fabrinetes_init_env.sh:/etc/profile.d/init_env.sh",#<======critical mount!
    "$HOME/.ssh:$HOME/.ssh",                            #<======critical mount!
    "cursor/.local:$HOME/.local",
    "cursor/.cursor:$HOME/.cursor",
    "cursor/.gnupg:$HOME/.gnupg",
    "cursor/.dotnet:$HOME/.dotnet",
    "cursor/.config:$HOME/.config",
    "verilator/share/verilator:/usr/share/verilator",
    "$HOME/repo:$HOME/repo",
]

